<div class="col-xs-1 leftTabContainer">
    <ul class="nav nav-tabs tabs-left">
        <li class="active"><a>Gateways</a></li>
        <li><a routerLink="../resources">Resources</a></li>
        <li><a routerLink="../rgroups">Resource Groups</a></li>
        <li><a routerLink="../snampcfg">SNAMP Info</a></li>
    </ul>
</div>

<div class="col-xs-11">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active">

<!-- main content here -->
<div class="row gatewaysContent">
    <div class="col-md-2">
        <h4>Choose gateway:</h4>
        <div class="list-group">
            <a *ngFor="let gateway of gateways"
               class="list-group-item pointerElement"
               [class.active]="gateway.name == activeGateway.name"
               (click)="setActiveGateway(gateway)">
            {{gateway.name}}</a>
            <newEntity
                    [entities]="gateways"
                    [type]="'gateway'">
            </newEntity>
        </div>
    </div>
    <div class="col-md-10" *ngIf="gateways && gateways.length > 0">
        <!-- right area -->
        <div class="row contentRow">
            <!-- if we have binging - add next with col-md-5 -->
            <div class="col-md-6 leftAlign">
                <!-- combobox with type -->
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="entityType">Gateway type:</label>
                        <div class="col-sm-9">
                            <select disabled
                                    id="entityType"
                                    [(ngModel)]="activeGateway.type"
                                    (change)="changeType($event)"
                                    class="form-control">
                                <option
                                        *ngFor="let gateway of availableGateways"
                                        [value]="gateway.type">
                                    {{gateway.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row paramRow">
                        <h4>Parameters:</h4>
                </div>
                <div class="row">
                    <parameters [entity]="activeGateway"></parameters>
                </div>

            </div>
            <!-- binding here -->
            <div class="col-md-6 bindingCol leftAlign">
                <div class="row">
                    <h4>Binding information:</h4>
                </div>
                <div class="panel-group group-accordeon" id="accordionBindings" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseAttributes" aria-expanded="true" aria-controls="collapseAttributes">
                                    Attributes
                                </a>
                            </h4>
                        </div>
                        <div id="collapseAttributes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <bindings [bindings]="activeGateway.attributes"></bindings>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                                    Events
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEvents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <bindings [bindings]="activeGateway.events"></bindings>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseOperations" aria-expanded="false" aria-controls="collapseOperations">
                                    Operations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOperations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <bindings [bindings]="activeGateway.operations"></bindings>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- main content here -->
        </div>
    </div>
</div>