<div class="col-xs-1 leftTabContainer">
    <ul class="nav nav-tabs tabs-left">
        <li><a routerLink="../gateways">Gateways</a></li>
        <li class="active"><a>Resources</a></li>
        <li><a routerLink="../rgroups">Resource Groups</a></li>
        <li><a routerLink="../snampcfg">SNAMP Info</a></li>
    </ul>
</div>

<div class="col-xs-11">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active">

            <!-- main content here -->
            <div class="row mainContent">
                <div class="col-md-2">
                    <h4>Choose resource:</h4>
                    <div class="list-group">
                        <a *ngFor="let resource of resources"
                           class="list-group-item pointerElement"
                           [class.active]="resource.name == activeResource.name"
                           (click)="setActiveResource(resource)">
                            {{resource.name}}</a>
                        <newEntity
                                [entities]="resources"
                                [type]="'resource'">
                        </newEntity>
                    </div>
                </div>
                <div class="col-md-10" *ngIf="resources && resources.length > 0 && activeResource != undefined">
                    <!-- right area -->
                    <div class="row contentRow">
                        <!-- if we have binging - add next with col-md-5 -->
                        <div class="col-md-6 leftAlign">
                            <!-- combobox with type -->
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="entityType">Resource type:</label>
                                    <div class="col-sm-9">
                                        <select disabled
                                                id="entityType"
                                                [(ngModel)]="activeResource.type"
                                                (change)="changeType($event)"
                                                class="form-control">
                                            <option
                                                    *ngFor="let resource of availableResources"
                                                    [value]="resource.type">
                                                {{resource.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="entityType">Connection string:</label>
                                    <div class="col-sm-9">
                                        <inline-edit [(ngModel)]="activeResource.connectionString"
                                                     (onSave)="saveConnectionString()">
                                        </inline-edit>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="checkbox checkbox-success">
                                    <input id="smartModeCheckBox"
                                           type="checkbox"
                                           [(ngModel)]="activeResource.smartMode"
                                           (change)="triggerSmartMode($event)">
                                    <label for="smartModeCheckBox">
                                        Smart mode
                                    </label>
                                </div>
                            </div>
                            <br/>
                            <div class="row" *ngIf="availableGroups && availableGroups.length > 0">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="resourceGroup">Resource group:</label>
                                    <div class="col-sm-9">
                                        <select
                                                id="resourceGroup"
                                                [(ngModel)]="activeResource.groupName"
                                                (change)="changeGroup($event)"
                                                class="form-control">
                                            <option
                                                    *ngFor="let name of availableGroups"
                                                    [value]="name">
                                                {{name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row paramRow">
                                <h4>Parameters:</h4>
                            </div>
                            <div class="row">
                                <parameters [entity]="activeResource"></parameters>
                            </div>

                        </div>
                        <!-- binding here -->
                        <div class="col-md-6 bindingCol leftAlign" *ngIf="!this.activeResource.smartMode">
                            <div class="row">
                                <h4>Binding information:</h4>
                            </div>
                            <div class="panel-group group-accordeon" id="accordionBindings" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseAttributes" aria-expanded="true" aria-controls="collapseAttributes">
                                                Attributes
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseAttributes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                                                Events
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseEvents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseOperations" aria-expanded="false" aria-controls="collapseOperations">
                                                Operations
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOperations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main content here -->
        </div>
    </div>
</div>