<div class="col-xs-1 leftTabContainer">
    <ul class="nav nav-tabs tabs-left">
        <li><a routerLink="gateways">Gateways</a></li>
        <li><a routerLink="resources">Resources</a></li>
        <li class="active"><a routerLink="rgroups">Resource Groups</a></li>
        <li><a routerLink="snampcfg">SNAMP Info</a></li>
    </ul>
</div>

<div class="col-xs-11">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active">

            <!-- main content here -->
                <h5>Dummy resource groups</h5>
            <!-- main content here -->
        </div>
    </div>
</div>