<!-- Modal for entity appending -->
<div class="modal fade" id="addEntity" tabindex="-1" role="dialog" aria-labelledby="addEntityLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title leftAlign" id="addEntityLabel">Create new entity</h4>
            </div>
            <br/>
            <div class="modal-body">
                <div class="input-group" style="margin-bottom: 20px;">
                    <span class="input-group-addon">Name</span>
                    <input
                            type="text"
                            class="form-control"
                            [tooltip]="'Input at least 4 symbols please'"
                            [(ngModel)]="selectedName">
                </div>
                <div class="input-group" style="margin-bottom: 20px;" *ngIf="type == 'resource'">
                    <span class="input-group-addon">Connection string</span>
                    <input
                            type="text"
                            class="form-control"
                            [tooltip]="'Connection string is optional, but in almost all cases should be prefilled'"
                            [(ngModel)]="selectedConnectionString">
                </div>
                <div class="panel-group group-accordeon" id="entityAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default leftAlign" *ngIf="nameSelected()">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#entityAccordion" href="#collapseType" aria-expanded="true" aria-controls="collapseRequired">
                                    Select type of new entity
                                </a>
                            </h4>
                        </div>
                        <div id="collapseType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                    <a *ngFor="let entity of availableEntities"
                                           class="grid-item-link pointerElement"
                                           (click)="selectType(entity)"
                                           [class.active]="selectedType == entity"
                                           [tooltip]="entity.description">
                                        <div [class.activeBundle]="entity.isActive" class="grid-item">
                                                <h5 class="name">{{entity.name}}</h5>
                                                <p class="symbol">{{entity.type}}</p>
                                                <p class="weight">v.{{entity.version}}</p>
                                        </div>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="panel panel-default leftAlign" *ngIf="typeSelected()">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#paramAccordion" href="#collapseParameters" aria-expanded="true" aria-controls="collapseOptional">
                                    Required parameters
                                </a>
                            </h4>
                        </div>
                        <div id="collapseParameters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let param of params">
                                        <td>{{param.key}}</td>
                                        <td>
                                            <inline-edit [(ngModel)]="param.value"
                                                         [ngModelOptions]="{standalone: true}"
                                                         (onSave)="!saveParameter(param)"
                                                         [uniqueKey]="param.key">
                                            </inline-edit>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        [disabled]="readyForSave == false"
                        (click)="addEntity()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<button
        type="button"
        class="btn btn-primary btn-sm btn-add-entity"
        data-toggle="modal"
        (click)="clear()"
        [attr.data-target]="'#addEntity'">
    + Add new
</button>