<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities">

        <td>{{entity.name}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Edit</button>
                <button type="button" class="btn btn-default" (click)="remove(entity)">Remove</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>