<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle" (click)="toggleClicked($event)"><i fa [icon]="'bars'"></i></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a href="javascript:;" class="user-profile dropdown-toggle" dropdown-open id="userProfileDropdown">
            <img src="assets/img/anyUser.png" alt="">
            {{getUserName()}}
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="userProfileDropdown">
            <li><a href="https://snamp.bytex.solutions/docs/latest/main.md.html" target="_blank">Help</a></li>
            <li><a href="login.html" (click)="clearCookie()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
          </ul>
        </li>

        <li dropdown>
          <a href="javascript:;" class="dropdown-toggle info-number" dropdown-open id="userNotificaion">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">{{getLogsCountLabel()}}</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" dropdown-not-closable-zone>
            <li *ngIf="logs && logs.length > 0">
              <div class="text-center alert-toggle-button">
                <a (click)="clearAlerts()">
                  <strong>Clear alerts</strong>
                  <i class="fa fa-remove"></i>
                </a>
              </div>
              <div class="text-center alert-toggle-button">
                <a (click)="toggleAlerts()">
                  <strong>Toggle alerts</strong>
                  <i class="fa fa-pause" id="togglableAlertIcon"></i>
                </a>
              </div>
            </li>
            <li *ngFor="let log of logs" [attr.id]="log.id">
              <a class="exitIcon" (click)="removeMessage(log)"><i class="glyphicon glyphicon-remove-circle"></i></a>
              <a (click)="clickDetails(log)">
                <span class="image"><i class="fa fa-info fa-3" aria-hidden="true"></i></span>
                <span>
                  <span style="text-transform: uppercase;">{{log.level}}</span>

                  <span class="time">{{log.localTime | amTimeAgo}}</span>
                </span>
                <span class="message">
                  {{log.shortDescription()}}
                </span>
              </a>
            </li>
            <li>
              <div class="text-center">
                <a href="/snamp/#/snamplogview">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
