<!-- Modal for entity appending -->
<div class="modal fade" id="addEntity" tabindex="-1" role="dialog" aria-labelledby="addEntityLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title leftAlign" id="addEntityLabel">Create new entity</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group group-accordeon" id="entityAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default leftAlign">
                        <div class="panel-heading" role="tab" id="headingZero">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#entityAccordion" href="#collapseName" aria-expanded="true" aria-controls="collapseRequired">
                                    Input name of new entity
                                </a>
                            </h4>
                        </div>
                        <div id="collapseName" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon">Name:</span>
                                    <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="selectedName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default leftAlign" *ngIf="nameSelected">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#entityAccordion" href="#collapseType" aria-expanded="true" aria-controls="collapseRequired">
                                    Select type of new entity
                                </a>
                            </h4>
                        </div>
                        <div id="collapseType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default leftAlign" *ngIf="typeSelected">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#paramAccordion" href="#collapseParameters" aria-expanded="false" aria-controls="collapseOptional">
                                    Required parameters
                                </a>
                            </h4>
                        </div>
                        <div id="collapseParameters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addEntity()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button
        type="button"
        class="btn btn-primary btn-sm"
        data-toggle="modal"
        data-target="addEntity">
    Add new
</button>