<div id="viewMenu">
  <div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab1" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab_info" id="home-tabb" role="tab" data-toggle="tab" aria-controls="info" aria-expanded="true">Information</a>
      </li>
      <li role="presentation" class=""><a href="#tab_settings" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="settings" aria-expanded="false">Settings</a>
      </li>
    </ul>
    <div id="myTabContent2" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_info" aria-labelledby="info-tab">
        <div *ngIf="metadata && nodeSelected">
          <timeInterval [id]="'availabilityToggle'" [jsonObject]="metadata.availability" [title]="'Availability'"></timeInterval>
          <timeInterval [id]="'maxRatePerSecondToggle'" [jsonObject]="metadata.maxRatePerSecond" [title]="'Max rate per second'"></timeInterval>
          <timeInterval [id]="'maxResponseTimeToggle'" [jsonObject]="metadata.maxResponseTime" [title]="'Max response time'"></timeInterval>
          <timeInterval [id]="'meanRateToggle'" [jsonObject]="metadata.meanRate" [title]="'Mean rate'"></timeInterval>
          <timeInterval [id]="'meanResponseTimeToggle'" [jsonObject]="metadata.meanResponseTime" [title]="'Mean response time'"></timeInterval>

          <div class="row">
            <dt class="col-sm-4">Channels: </dt>
            <dd class="col-sm-8">{{metadata.channels}}</dd>
          </div>

          <div class="row">
            <dt class="col-sm-4">Efficiency: </dt>
            <dd class="col-sm-8">{{metadata.efficiency}}</dd>
          </div>

          <div class="row">
            <dt class="col-sm-4">Scalability: </dt>
            <dd class="col-sm-8">{{metadata.scalability}}</dd>
          </div>

          <div class="row">
            <dt class="col-sm-4">Response time (90): </dt>
            <dd class="col-sm-8">{{metadata.responseTime90}}</dd>
          </div>

          <div class="row">
            <dt class="col-sm-4">Response time (95): </dt>
            <dd class="col-sm-8">{{metadata.responseTime95}}</dd>
          </div>

          <div class="row">
            <dt class="col-sm-4">Response time (98): </dt>
            <dd class="col-sm-8">{{metadata.responseTime98}}</dd>
          </div>

          <div class="row">
            <dt class="col-sm-4">Response time standard deviation: </dt>
            <dd class="col-sm-8">{{metadata.responseTimeStdDev}}</dd>
          </div>
        </div>
        <div *ngIf="metadata && !nodeSelected">{{metadata}}</div>
        <div *ngIf="!metadata">No data is available</div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_settings" aria-labelledby="settings-tab">
        <p>Select needful information to display on graph: </p>
          <checkboxGroup [id]="'availabilityCheckboxToggle'" [title]="'Availability'" [formName]="availability"></checkboxGroup>
          <checkboxGroup [id]="'maxRatePerSecondCheckboxToggle'" [title]="'Max rate per second'" [formName]="maxRatePerSecond"></checkboxGroup>
          <checkboxGroup [id]="'maxResponseTimeCheckboxToggle'" [title]="'Max response time'" [formName]="maxResponseTime"></checkboxGroup>
          <checkboxGroup [id]="'meanRateCheckboxToggle'" [title]="'Mean rate'" [formName]="meanRate"></checkboxGroup>
          <checkboxGroup [id]="'meanResponseTimeCheckboxToggle'" [title]="'Mean response time'" [formName]="meanResponseTime"></checkboxGroup>

          <div class="row">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [attr.name]="'channels'">
                Channels
              </label>
            </div>
          </div>

        <div class="row">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [attr.name]="'efficiency'">
              Efficiency
            </label>
          </div>
        </div>


        <div class="row">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [attr.name]="'scalability'">
              Scalability
            </label>
          </div>
        </div>


        <div class="row">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [attr.name]="'responseTime90'">
              Response time (90)
            </label>
          </div>
        </div>


        <div class="row">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [attr.name]="'responseTime95'">
              Response time (95)
            </label>
          </div>
        </div>


        <div class="row">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [attr.name]="'responseTime98'">
              Response time (98)
            </label>
          </div>
        </div>


        <div class="row">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [attr.name]="'responseTimeStdDev'">
              Response time standard deviation
            </label>
          </div>
        </div>

        <div class="row">
          <button class="btn btn-primary" (click)="saveCheckboxStatus()">Apply</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="right_col" role="main" style="min-height: 949px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>End-to-End {{(currentViewObs | async)?.name}} {{'(' + ((currentViewObs | async)?.type) + ')'}}</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class='container col-md-12' style="min-height: 900px;">
        <div id="cy"></div>
      </div>
    </div>
  </div>
</div>

