<div>
    <dl class="row" *ngFor="let entry of entity | keys">

        <div class="modal fade" *ngIf="!hideDetails" [attr.id]="'details_' + entry.value.id" tabindex="-1" role="dialog" aria-labelledby="detailsLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title leftAlign" id="detailsLabel">Entity {{entry.value.name}} details</h4>
                    </div>
                    <br/>
                    <div class="modal-body" *ngIf="entry.value.object == undefined">
                        <pre class="normalspaces"><code [innerHTML]="entry.value.script"></code></pre>
                    </div>
                    <div class="modal-body" *ngIf="entry.value.object != undefined">
                        <div class="alert alert-success">
                            <strong>Green condition: </strong>
                            <div>
                                <strong>{{entry.value.object.green.represent()}}</strong>
                            </div>
                        </div>

                        <div class="alert alert-warning">
                            <strong>Yellow condition: </strong>
                            <div>
                                <strong>{{entry.value.object.yellow.represent()}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <dt class="col-sm-3">Attribute:</dt>
        <dd class="col-sm-9">{{entry.key}}</dd>

        <dt class="col-sm-3">Language:</dt>
        <dd class="col-sm-9">{{entry.value.language}}</dd>

        <dt class="col-sm-3">Is url:</dt>
        <dd class="col-sm-9">{{entry.value.isURL}}</dd>

        <dt class="col-sm-3">Script:</dt>
        <dd class="col-sm-9">
            <button *ngIf="!hideDetails"
                    class="center-block btn btn-inline btn-sm"
                    data-toggle="modal"
                    [attr.data-target]="'#details_' + entry.value.id">
                <i class="fa fa-search"></i> Details
            </button>
        </dd>
    </dl>
</div>