<div class="right_col" role="main" style="min-height: 949px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Gateways configuration</h3>
      </div>

      <div class="title_right">
        <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
            <div class="row">
              <div class="col-md-3">
                <h5>Choose gateway</h5>
              </div>
              <div class="col-md-6">
                <select
                  id="gatewaySelection"
                  class="select2_group form-control">
                  <optgroup label="Gateways" *ngIf="gateways.length > 0">
                    <option
                      *ngFor="let gateway of gateways"
                      [value]="gateway.name">
                      {{gateway.name}}
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-2">
                <newEntity
                  [entities]="gateways"
                  (onSave)="initSelectionComponent()"
                  [type]="'gateway'">
                </newEntity>
              </div>
            </div>
        </div>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row" style="margin-top: 30px" *ngIf="gateways && gateways.length > 0">

        <div class="col-md-8 leftAlign">

            <div class="row">
              <panel [header]="'Gateway type'" [column]="'12'">
                <select disabled
                        id="entityType"
                        [(ngModel)]="activeGateway.type"
                        (change)="changeType($event)"
                        style="height: auto;"
                        class="form-control">
                  <option
                    *ngFor="let gateway of availableGateways"
                    [value]="gateway.type">
                    {{gateway.name}}
                  </option>
                </select>
              </panel>
            </div>

            <div class="row">
              <panel [header]="'Parameters'" [column]="'12'">
                  <parameters [entity]="activeGateway"></parameters>
              </panel>
            </div>

        </div>

        <panel [header]="'Binding information'" [column]="'4'">
                  <div class="panel-group group-accordeon" id="accordionBindings" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default"  *ngIf="activeGateway.attributes.length > 0">
                          <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseAttributes" aria-expanded="true" aria-controls="collapseAttributes">
                                      Attributes
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseAttributes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                  <bindings [bindings]="activeGateway.attributes"></bindings>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default" *ngIf="activeGateway.events.length > 0">
                          <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                                      Events
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseEvents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                  <bindings [bindings]="activeGateway.events"></bindings>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default" *ngIf="activeGateway.operations.length > 0">
                          <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseOperations" aria-expanded="false" aria-controls="collapseOperations">
                                      Operations
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseOperations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">
                                  <bindings [bindings]="activeGateway.operations"></bindings>
                              </div>
                          </div>
                      </div>
                  </div>
              </panel>

    </div>

  </div>
</div>

