<div class="right_col" role="main" style="min-height: 949px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Resource configuration</h3>
      </div>

      <div class="title_right" *ngIf="resources && resources.length > 0">
        <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right">
          <div class="row">
            <div class="col-md-3">
              <h5>Choose resource</h5>
            </div>
            <div class="col-md-6">
              <select
                      id="resourceSelection"
                      class="select2_group form-control">
                <optgroup label="Resources" >
                  <option
                          *ngFor="let resource of resources"
                          [value]="resource.name">
                    {{resource.name}}
                  </option>
                </optgroup>
              </select>
            </div>
            <div class="col-md-2">
              <newEntity
                      [entities]="resources"
                      (onSave)="dispatchNewResource($event)"
                      [type]="'connector'">
              </newEntity>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row" style="float: left !important;" *ngIf="!resources || resources.length == 0">
      <div class="col-md-2">
        <newEntity
                [entities]="resources"
                (onSave)="dispatchNewResource($event)"
                [type]="'connector'">
        </newEntity>
      </div>
    </div>

    <div class="row" style="margin-top: 30px" *ngIf="resources && resources.length > 0">

      <div class="col-md-8 leftAlign">

        <div class="row">
          <panel [header]="'Resource type'" [column]="'6'">
            <select disabled
                    id="entityType"
                    [(ngModel)]="activeResource.type"
                    (change)="changeType($event)"
                    style="height: auto;"
                    class="form-control">
              <option
                      *ngFor="let resource of availableResources"
                      [value]="resource.type">
                {{resource.name}}
              </option>
            </select>
          </panel>

          <panel [header]="'Connection string'" [column]="'6'">
            <inline-edit [(ngModel)]="activeResource.connectionString"
                         (onSave)="saveConnectionString()">
            </inline-edit>
          </panel>
        </div>

        <div class="row" >
          <panel [header]="'Resource group'" [column]="'12'" >

            <div class="form-group row">
              <label class="col-md-2 col-form-label">Select group from list</label>
              <div class="col-md-10">
                <ui-switch
                        [(ngModel)]="groupSelection"
                        [disabled]="!availableGroups || availableGroups.length == 0"
                        [size]="'small'">
                </ui-switch>
              </div>
            </div>

            <select
                    *ngIf="groupSelection && availableGroups && availableGroups.length > 0"
                    id="resourceGroup"
                    [(ngModel)]="activeResource.groupName"
                    (change)="changeGroup($event)"
                    class="form-control">
              <option
                      *ngFor="let name of availableGroups"
                      [value]="name">
                {{name}}
              </option>
            </select>

            <div class="form-group row" *ngIf="!groupSelection">
              <label for="manualGroupName" class="col-md-2 col-form-label">Input group name</label>
              <div class="col-md-10">
                <div class="input-group">
                  <input class="form-control"
                         type="text"
                         [(ngModel)]="activeResource.groupName"
                         id="manualGroupName"
                         placeholder="Input group name manually...">
                  <span class="input-group-btn">
                     <button class="btn btn-secondary btn-primary" type="button" (click)="saveManualGroupName()">Save</button>
                  </span>
                </div>
              </div>
            </div>
          </panel>
        </div>

        <div class="row" *ngIf="availableThreadPools && availableThreadPools.length > 0">
          <panel [header]="'Thread pool settings'" [column]="'12'" >
            <select
                    id="threadPoolInput"
                    [(ngModel)]="activeResource.threadPool"
                    (change)="changeThreadPool($event)"
                    class="form-control">
              <option value="">Default thread pool</option>
              <option
                      *ngFor="let threadPool of availableThreadPools"
                      [value]="threadPool.name">
                {{threadPool.name}}
              </option>
            </select>
          </panel>
        </div>

        <div class="row">
          <panel [header]="'Parameters'" [column]="'12'">
            <parameters [entity]="activeResource"></parameters>
          </panel>
        </div>

      </div>

      <div class="col-md-4">
        <div class="row">

          <div class="col-md-12">
            <panel [header]="'Entities'" [column]="'12'">
              <div class="row" style="min-height: 80px;">

                <div class="col-md-4 col-md-offset-8"  [tooltip]="'Enable for auto wiring entities to ' + activeResource.name">
                  <div class="count" style="display:inline-block; font-size: large;">Smart mode</div>
                  <div style="display: inline-block;">
                    <ui-switch
                            [(ngModel)]="activeResource.smartMode"
                            (change)="triggerSmartMode($event)"
                            [size]="'small'">
                    </ui-switch>
                  </div>
                  <p></p>
                </div>

                <div class="col-md-12" *ngIf="!activeResource.smartMode">
                  <div
                          class="panel-group group-accordeon"
                          id="accordionBindings"
                          role="tablist"
                          aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseAttributes" aria-expanded="true" aria-controls="collapseAttributes">
                            Attributes
                          </a>
                        </h4>
                      </div>
                      <div id="collapseAttributes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <resourceEntity
                                  [entities]="activeResource.attributes"
                                  [entityType]="'attribute'"
                                  [resource]="activeResource">
                          </resourceEntity>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                            Events
                          </a>
                        </h4>
                      </div>
                      <div id="collapseEvents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                          <resourceEntity
                                  [entities]="activeResource.events"
                                  [entityType]="'event'"
                                  [resource]="activeResource">
                          </resourceEntity>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionBindings" href="#collapseOperations" aria-expanded="false" aria-controls="collapseOperations">
                            Operations
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOperations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                          <resourceEntity
                                  [entities]="activeResource.operations"
                                  [entityType]="'operation'"
                                  [resource]="activeResource">
                          </resourceEntity>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>