<div class="right_col" role="main" style="min-height: 1400px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Component configuration</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="margin-top: 30px">

      <panel [header]="'Installed components'" [column]="'5'" *ngIf="components && components.length > 0">

        <a *ngFor="let component of components"
           class="grid-item-link pointerElement"
           (click)="selectComponent(component)"
           [class.active]="component == selectedComponent"
          >
          <div [class.activeBundle]="component.state == 'ACTIVE'" class="grid-item">
            <h5 class="name">{{component.name}}</h5>
            <p class="symbol">{{component.type}}</p>
            <p class="weight">v.{{component.version}}</p>
          </div>
        </a>
      </panel>

      <panel
          [header]="selectedComponent.name"
          [column]="'6'"
          *ngIf="selectedComponent != undefined">
        <form class="form-horizontal form-label-left" action="javascript:void(0);">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" [attr.placeholder]="selectedComponent.name">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" [attr.placeholder]="selectedComponent.type">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Version</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" [attr.placeholder]="selectedComponent.version">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" [attr.placeholder]="selectedComponent.state">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              Description
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" rows="3" placeholder="No description is available">{{selectedComponent.description}}</textarea>
            </div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group" *ngIf="selectedComponent.type != 'Internal component'">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <a class="btn btn-app"
                 [class.disabled]="selectedComponent.state == 'ACTIVE'"
                 (click)="startComponent(selectedComponent)">
                <i class="fa fa-play"></i> Start
              </a>
              <a class="btn btn-app"
                 [class.disabled]="selectedComponent.state != 'ACTIVE'"
                 (click)="stopComponent(selectedComponent)">
                <i class="fa fa-pause"></i> Pause
              </a>
            </div>
          </div>

        </form>

      </panel>

    </div>

    <div class="row" style="margin-top: 30px">
        <panel [header]="'Log table'" [column]="'12'">
          <ngx-datatable
            class="material"
            [rows]="rows"
            [columns]="[{name:'level'},{name:'message'},{name:'timestamp'}, {name: 'localDate'}]"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10">
          </ngx-datatable>
        </panel>
    </div>

  </div>
</div>
