<div class="right_col" role="main" style="min-height: 949px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Setup watchers</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="margin-top: 30px">

      <panel [header]="'List of watchers'" [column]="'12'">
        <table class="table table-hover table-bordered">
          <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Checkers</th>
            <th>Trigger</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let watcher of watchers">
            <th scope="row">{{watcher.name}}</th>
            <td>
              <checkers [entity]="watcher.attributeCheckers"></checkers>
            </td>
            <td>
              <trigger [entity]="watcher.trigger"></trigger>
            </td>
          </tr>
          </tbody>
        </table>

      </panel>
    </div>
  </div>
</div>

