<div class="right_col" role="main" style="min-height: 949px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Setup watchers</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="margin-top: 30px">

      <!-- Modal for edit the trigger for activeWatcher -->
      <div class="modal fade" id="editTriggerModal" role="dialog" aria-labelledby="editTriggerLabel"  *ngIf="activeWatcher != undefined">
        <div class="modal-dialog modal-xlg modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title leftAlign" id="editTriggerLabel">Edit trigger</h4>
              <br/>
              <div class="modal-body">
                <div id="smartwizardForTrigger" style="height: 95%">
                  <ul>
                    <li>
                      <a [attr.href]="'#language'">
                        Language<br />
                        <small>Select language for trigger</small>
                      </a>
                    </li>
                    <li>
                      <a [attr.href]="'#url'">
                        Use url<br />
                        <small>Use URL for loading script</small>
                      </a>
                    </li>
                    <li>
                      <a [attr.href]="'#script'">
                        Script<br />
                        <small>Trigger's script</small>
                      </a>
                    </li>
                  </ul>

                  <div style="height:100%">
                    <div id="language" class="row" style="margin-top: 100px;">
                      <div class="item form-group">
                        <label
                                class="control-label col-md-3 col-sm-3 col-xs-12"
                                for="languageSelect"
                                style="margin-top: 7px;">
                          Language <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" [(ngModel)]="activeWatcher.trigger.language" id="languageSelect">
                            <option *ngFor="let language of triggerLanguages" [ngValue]="language">{{language}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div id="url" class="row" style="margin-top: 100px;">
                      <div class="item form-group">
                        <label
                                class="control-label col-md-3 col-sm-3 col-xs-12"
                                style="margin-top: 7px;">
                          Load script from external URL <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12" >
                          <ui-switch
                                  [(ngModel)]="activeWatcher.trigger.isURL"
                                  [size]="'small'">
                          </ui-switch>
                        </div>
                      </div>
                    </div>

                    <div id="script" class="row" style="margin-top: 20px;">
                      <div *ngIf="activeWatcher.trigger.isURL">
                        <div class="item form-group">
                          <label
                                  class="control-label col-md-3 col-sm-3 col-xs-12"
                                  for="urlForTrigger"
                                  style="margin-top: 7px;">
                            Url for script loading <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="urlForTrigger" placeholder="Input url for script to be loaded from" [(ngModel)]="activeWatcher.trigger.script"/>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="!activeWatcher.trigger.isURL">
                        <div>
                          <div class="row">
                              <label
                                      class="control-label col-md-3 col-sm-3 col-xs-12"
                                      for="scriptBodyForTrigger"
                                      style="margin-top: 7px;">
                                Script body for the trigger <span class="required">*</span>
                             </label>
                          </div>
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <textarea id="scriptBodyForTrigger" rows="10" class="form-control" [(ngModel)]="activeWatcher.trigger.script"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2" style="float:right; margin-top: 30px;">
                        <button class="btn btn-primary" data-dismiss="modal" (click)="saveCurrentTrigger()">Save trigger</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for edit checkers for activeWatcher -->
      <div class="modal fade" id="editCheckerModal" role="dialog" aria-labelledby="editCheckerLabel" *ngIf="activeWatcher != undefined">
        <div class="modal-dialog modal-xlg modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title leftAlign" id="editCheckerLabel">Edit attribute checkers</h4>
              <br/>
              <div class="modal-body">
                <div id="smartwizardForCheckers" style="height: 95%">
                  <ul>
                    <li>
                      <a [attr.href]="'#checkerTable'">
                        Select checker<br />
                        <small>Select type of checker</small>
                      </a>
                    </li>
                    <li>
                      <a [attr.href]="'#checkerType'">
                        Type<br />
                        <small>Select type of checker</small>
                      </a>
                    </li>
                    <li>
                      <a [attr.href]="'#checkerBody'">
                        Checker's logic<br />
                        <small>What action will be performed</small>
                      </a>
                    </li>
                  </ul>

                  <div style="height:100%">

                    <div id="checkerTable" class="row" style="margin-top: 5px;">
                      <table class="table table-hover table-bordered">
                            <thead class="thead-inverse">
                            <tr>
                              <th>Actions</th>
                              <th>Attribute</th>
                              <th>Binding</th>
                              <th>Checker type</th>
                            </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let attribute of attributes" class="clickableTr" [class.activeTr]="((selectedAttribute != undefined) && (selectedAttribute.name == attribute.name))" (click)="editCheckerForAttribute(attribute)">
                              <td>
                                  <span
                                          class="glyphicon glyphicon-remove-circle btn btn-xs btn-danger"
                                          (click)="removeCheckerForAttribute(attribute)"
                                          aria-hidden="true">
                                  </span>
                              </td>
                              <th scope="row">{{attribute.name}}</th>
                              <td>
                                <span class="input-group-addon"  *ngIf="activeWatcher.checkerExists(attribute.name)">
                                      <span class="glyphicon glyphicon-ok glyph-icon-appended" aria-hidden="true"></span>
                                 </span>
                              </td>
                              <td>
                                {{activeWatcher.checkerTypeForAttributeName(attribute.name)}}
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>


                    <div id="checkerType" class="row" style="margin-top: 100px;">
                      <div class="item form-group">
                        <label
                                class="control-label col-md-3 col-sm-3 col-xs-12"
                                for="checkerTypeSelect"
                                style="margin-top: 7px;">
                          Set type for attribute checker <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" [(ngModel)]="activeChecker.language" id="checkerTypeSelect">
                            <option *ngFor="let type of checkersType" [ngValue]="type.id">{{type.description}}</option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <div id="checkerBody" class="row" style="margin-top: 5px;">
                      <div *ngIf="activeChecker?.language != 'ColoredAttributeChecker'">

                        <div class="item form-group" style="margin-bottom: 15px;">
                          <label
                                  class="control-label col-md-3 col-sm-3 col-xs-12"
                                  style="margin-top: 7px;">
                            Load script from external URL <span class="required">*</span>
                          </label>

                          <div class="col-md-6 col-sm-6 col-xs-12" >
                            <ui-switch
                                    [(ngModel)]="activeChecker.isURL"
                                    [size]="'small'">
                            </ui-switch>
                          </div>
                        </div>

                            <div *ngIf="activeChecker?.isURL">
                              <div class="item form-group">
                                <label
                                        class="control-label col-md-3 col-sm-3 col-xs-12"
                                        for="urlForChecker"
                                        style="margin-top: 7px;">
                                  Url for script loading <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input type="text" class="form-control" id="urlForChecker" placeholder="Input url for script to be loaded from" [(ngModel)]="activeChecker.script"/>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="!activeChecker?.isURL">
                            <div class="item form-group">
                                <label
                                        class="control-label col-md-3 col-sm-3 col-xs-12"
                                        for="scriptBodyForChecker"
                                        style="margin-top: 7px;">
                                  Script body for the checker <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <textarea id="scriptBodyForChecker" rows="5" class="form-control" [(ngModel)]="activeChecker.script"></textarea>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div *ngIf="activeChecker?.language == 'ColoredAttributeChecker'">
                        <div class="panel-group group-accordeon" id="accordionChecker" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default" >
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordionChecker" href="#collapseGreen" aria-expanded="true" aria-controls="collapseGreen">
                                  <img src="assets/img/green-circle.png" class="img-inline"> Green condition
                                </a>
                              </h4>
                            </div>
                            <div id="collapseGreen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                  <coloredCondition [entity]="activeChecker.object.green" [entityType]="activeChecker.language"></coloredCondition>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionChecker" href="#collapseYellow" aria-expanded="false" aria-controls="collapseYellow">
                                  <img src="assets/img/yellow-circle.png" class="img-inline"> Yellow condition
                                </a>
                              </h4>
                            </div>
                            <div id="collapseYellow" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                <coloredCondition [entity]="activeChecker.object.yellow" [entityType]="activeChecker.language"></coloredCondition>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2" style="float:right;">
                        <button class="btn btn-primary" data-dismiss="modal" (click)="saveCurrentChecker()">Save checker</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <panel [header]="getPanelHeader()" [column]="'12'" *ngIf="activeWatcher != undefined">

        <div class="row row-margin-bottom-sm">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="componentSelection" style="margin-top:10px;">
              Component <span class="required">*</span>
          </label>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                    id="componentSelection"
                    class="select2_group form-control">
              <optgroup label="Components">
                <option
                        *ngFor="let component of components"
                        [value]="selectedComponent">
                  {{component}}
                </option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="row row-margin-bottom-sm">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="componentSelection" style="margin-top:10px;">
            Trigger
          </label>
          <div class="col-md-1 col-sm-1 col-xs-12">
            <button class="btn btn-primary"
                    (click)="initTriggerModal()"
                    aria-hidden="true"> Edit trigger
            </button>
          </div>
        </div>

        <div class="row row-margin-bottom-sm">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="componentSelection" style="margin-top:10px;">
            Checkers
          </label>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="btn btn-primary"
                    (click)="initCheckersModal()"
                    aria-hidden="true"> Edit checkers
            </button>
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4">
              <button class="btn btn-sm btn-primary" (click)="saveActiveWatcher()">Save</button>
              <button class="btn btn-sm" (click)="cleanSelection()">Cancel/clean</button>
            </div>
        </div>

      </panel>
    </div>

    <div class="row" style="margin-top: 10px">
      <panel [header]="'List of watchers'" [column]="'12'">
        <table class="table table-hover table-bordered">
          <thead class="thead-inverse">
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Checkers</th>
            <th>Trigger</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let watcher of watchers">
            <td>
              <span
                  class="glyphicon glyphicon-remove-circle btn btn-xs btn-danger"
                  (click)="removeWatcher(watcher)"
                  aria-hidden="true">
              </span>
              <span
                  class="glyphicon glyphicon-pencil btn btn-xs btn-primary"
                  (click)="editWatcher(watcher)"
                  aria-hidden="true">
              </span>
            </td>
            <th scope="row">{{watcher.name}}</th>
            <td>
              <checkers [entity]="watcher.attributeCheckers"></checkers>
            </td>
            <td>
              <trigger [entity]="watcher.trigger"></trigger>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="addNewWatcher()">+ New watcher</button>
            </td>
          </tr>
          </tbody>
        </table>

      </panel>
    </div>


  </div>
</div>

