<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><img src="assets/img/snmp.png"/> <span>SNAMP UI</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img src="assets/img/anyUser.png" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><username></username></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a id="chartli" (click)="anchorClicked($event)"><i class="fa fa-newspaper-o"></i> Charts<span id="chartchevron" class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li *ngFor="let name of groupNames"
                  routerLinkActive="activeLi">
                <a [routerLink]="['charts', name]" routerLinkActive="active">
                  {{name}}
                </a>
              </li>
              <li><a (click)="newDashboard()">+ New dashboard</a></li>
            </ul>
          </li>
          <li><a id="watchersli" (click)="anchorClicked($event)"><i class="fa fa-eye"></i> Watchers<span id="watcherschevron" class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="activeLi"  [routerLinkActiveOptions]="{exact: true}"><a routerLink="watchers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Setup</a></li>
              <li routerLinkActive="activeLi"  [routerLinkActiveOptions]="{exact: true}"><a routerLink="watchers/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Statuses</a></li>
            </ul>
          </li>
          <li><a id="homeli" (click)="anchorClicked($event)"><i class="fa fa-home"></i> Configure<span id="homechevron" class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="activeLi"><a routerLink="gateways" routerLinkActive="active">Gateways</a></li>
              <li routerLinkActive="activeLi"><a routerLink="resources" routerLinkActive="active">Resources</a></li>
              <li routerLinkActive="activeLi"><a routerLink="rgroups" routerLinkActive="active">Resource groups</a></li>
              <li routerLinkActive="activeLi"><a routerLink="snampcfg" routerLinkActive="active">SNAMP components</a></li>
              <li routerLinkActive="activeLi"><a routerLink="logview" routerLinkActive="active">Log view</a></li>
              <li routerLinkActive="activeLi"><a routerLink="configuration" routerLinkActive="active">Save/restore</a></li>
            </ul>
          </li>
          <li><a id="analysisli" (click)="anchorClicked($event)"><i class="fa fa-search "></i> Analysis<span id="analysischevron" class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li *ngFor="let _view of views"
                  routerLinkActive="activeLi">
                <a [routerLink]="['view', _view]" routerLinkActive="active">
                  {{_view}}
                </a>
              </li>
              <li routerLinkActive="activeLi" [routerLinkActiveOptions]="{exact: true}"><a routerLink="view" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">+ Add view</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

  </div>
</div>
