<div class="right_col" role="main" style="min-height: 949px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Dashboard</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="margin-top: 30px">

      <panel [header]="'Charts'" [column]="'10'">
        <div class='wrapper'>
          <div class='container row' [dragula]='"first-bag"' style="min-height: 400px;">

          </div>
        </div>
      </panel>

      <panel [header]="'Instruments'" [column]="'2'">
        <div class='wrapper'>
          <div class='container' [dragula]='"first-bag"'>

            <div class="thumbnail with-caption" data-chart-type="doughnut">
              <img src="/snamp/assets/img/piechart.png" width="320">
              <p>Pie chart</p>
            </div>

            <div class="thumbnail with-caption" data-chart-type="horizontalBar">
              <img src="/snamp/assets/img/hbarchart.png" width="320">
              <p>Horizontal bar chart</p>
            </div>

            <div class="thumbnail with-caption" data-chart-type="bar">
              <img src="/snamp/assets/img/vbarchart.png" width="320">
              <p>Vertical bar chart</p>
            </div>

            <div class="thumbnail with-caption" data-chart-type="line">
              <img src="/snamp/assets/img/linechart.png" width="320">
              <p>Line chart</p>
            </div>


            <div class="thumbnail with-caption" data-chart-type="value" style="display: none;">
              <img src="/snamp/assets/img/justvalue.png" width="320">
              <p>Value representation</p>
            </div>
          </div>
        </div>
      </panel>

    </div>
  </div>
</div>

