<!-- Modal for entity appending -->
<div class="modal fade" id="editEntity{{entityType}}" role="dialog" aria-labelledby="editEntityLabel">
    <div class="modal-dialog modal-xlg modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title leftAlign" id="editEntityLabel">Edit {{activeEntity.getName()}}
                    {{activeEntity.name}} for resource {{resourceName}}</h4>
            </div>
            <br/>
            <div class="modal-body">
                <div id="smartwizard{{entityType}}" style="height: 95%">
                    <ul>
                        <li>
                            <a [attr.href]="'#name'">
                                Name<br/>
                                <small>Name of {{activeEntity.getName()}}</small>
                            </a>
                        </li>
                        <li>
                            <a [attr.href]="'#additional'">
                                Additional<br/>
                                <small>Additional {{activeEntity.getName()}}-related members</small>
                            </a>
                        </li>
                        <li>
                            <a [attr.href]="'#parameters'">
                                Parameters<br/>
                                <small>Parameters for {{activeEntity.getName()}}</small>
                            </a>
                        </li>
                        <li>
                            <a [attr.href]="'#save'">
                                Save<br/>
                                <small>Saving the {{activeEntity.getName()}}</small>
                            </a>
                        </li>
                    </ul>

                    <div style="height:100%">
                        <div id="name" class="row" style="margin-top: 100px;">
                            <div class="item form-group">
                                <label
                                        class="control-label col-md-3 col-sm-3 col-xs-12"
                                        for="nameInput"
                                        style="margin-top: 7px;">
                                    Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input
                                            id="nameInput"
                                            class="form-control col-md-7 col-xs-12"
                                            [tooltip]="'At least 4 symbols'"
                                            placeholder="input the name of {{activeEntity.getName()}}"
                                            [(ngModel)]="activeEntity.name">
                                </div>
                            </div>
                        </div>


                        <div id="additional" class="row" style="margin-top: 100px;">

                            <div *ngIf="entityType == 'operation'">
                                <div class="item form-group">
                                    <label
                                            class="control-label col-md-3 col-sm-3 col-xs-12"
                                            style="margin-top: 7px;">
                                        Infinite invocation timeout
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <ui-switch
                                                [(ngModel)]="activeEntity.isInfiniteDuration"
                                                [size]="'small'">
                                        </ui-switch>
                                    </div>
                                </div>

                                <div class="item form-group" *ngIf="!activeEntity.isInfiniteDuration"
                                     style="margin-top: 15px;">
                                    <label
                                            class="control-label col-md-3 col-sm-3 col-xs-12"
                                            for="invtoInput"
                                            style="margin-top: 7px;">
                                        Invocation timeout (ms)<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input
                                                id="invtoInput"
                                                class="form-control col-md-7 col-xs-12"
                                                placeholder="input the invocation timeout of {{activeEntity.getName()}}"
                                                [(ngModel)]="activeEntity.invokto">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="entityType == 'attribute'">
                                <div class="item form-group">
                                    <label
                                            class="control-label col-md-3 col-sm-3 col-xs-12"
                                            style="margin-top: 7px;">
                                        Infinite read/write timeout
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <ui-switch
                                                [(ngModel)]="activeEntity.isInfiniteDuration"
                                                [size]="'small'">
                                        </ui-switch>
                                    </div>
                                </div>

                                <div class="item form-group" *ngIf="!activeEntity.isInfiniteDuration"
                                     style="margin-top: 15px;">
                                    <label
                                            class="control-label col-md-3 col-sm-3 col-xs-12"
                                            for="rwtoInput"
                                            style="margin-top: 7px;">
                                        Read/write timeout (ms) <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input
                                                id="rwtoInput"
                                                class="form-control col-md-7 col-xs-12"
                                                placeholder="input the read/write timeout of {{activeEntity.getName()}} (ms)"
                                                [(ngModel)]="activeEntity.rwto">
                                    </div>
                                </div>
                            </div>

                            <div class="item form-group" *ngIf="isResourceType()">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Override group entity
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-switch
                                            [(ngModel)]="activeEntity.override"
                                            [size]="'small'">
                                    </ui-switch>
                                </div>
                            </div>
                        </div>


                        <!-- PARAMETERS -->
                        <div id="parameters" class="row" style="margin-top: 10px;">
                            <div class="col-md-12" id="tableParamsRow{{entityType}}">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Key</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let param of activeEntity.parameters">
                                        <td>
                              <span
                                      class="glyphicon glyphicon-remove-circle btn btn-xs btn-danger"
                                      (click)="checkAndRemoveParameter(param)"
                                      aria-hidden="true">
                              </span>
                                        </td>
                                        <td>{{param.key}}</td>
                                        <td>
                                            <inline-edit [(ngModel)]="param.value"
                                                         [ngModelOptions]="{standalone: true}"
                                                         (onSave)="saveParameter(param)"
                                                         [uniqueKey]="param.key">
                                            </inline-edit>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="right">
                                            <button
                                                    type="button"
                                                    class="btn btn-primary btn-sm"
                                                    (click)="addNewParameter()">
                                                Add new <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12" style="display: none; margin-top: 15px"
                                 id="newParamRow{{entityType}}">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-3" *ngIf="currentNewParam">
                                        <select
                                                style="width: 350px"
                                                id="newParamSelect{{entityType}}"
                                                [(ngModel)]="currentNewParam.key"
                                                class="select2_group form-control">
                                            <optgroup label="Custom parameter">
                                                <option value="custom">Append your own param</option>
                                            </optgroup>
                                            <optgroup label="Suggested parameter"
                                                      *ngIf="activeEntity.paramDescriptors | async">
                                                <option
                                                        *ngFor="let descriptor of activeEntity.paramDescriptors | async"
                                                        [attr.required]="descriptor.required"
                                                        [attr.pattern]="descriptor.pattern"
                                                        [attr.defaultValue]="descriptor.defaultValue"
                                                        [value]="descriptor.name">
                                                    {{descriptor.name}}
                                                </option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin: 10px 0;">
                                    <div class="col-md-4 col-md-offset-4">
                                        <div class="form-group row" *ngIf="currentNewParam.key == 'custom'">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Parameter
                                                name</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Input the name"
                                                       [(ngModel)]="customKey">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Value</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Input the value"
                                                       [(ngModel)]="currentNewParam.value">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button class="btn" (click)="cancelAppendingParam()">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary" (click)="appendParameter()"
                                                style="margin-left:10px">
                                            Append parameter
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- PARAMETERS -->


                        <div id="save" class="row" style="margin-top: 20px;">
                            <pre class="line-numbers"><code class="language-javascript"
                                                            [innerHTML]="htmlViewForEntity()"></code></pre>
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    (click)="saveEntity()">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>-->
        </div>
    </div>
</div>


<div class="modal fade" id="addExistentEntity{{entityType}}" role="dialog" aria-labelledby="discoveryLabel"
     *ngIf="discoveredEntities != undefined && discoveredEntities.length > 0">
    <div class="modal-dialog modal-xlg modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title leftAlign" id="discoveryLabel">Automatic discovered {{entityType}}s for
                    {{activeEntity.getName()}} {{activeEntity.name}} for resource {{resourceName}}</h4>
            </div>
            <br/>
            <div class="modal-body">

                <div id="discoveredEntityId" class="row" *ngIf="selectedEntity != undefined">
                    <div class="item form-group">
                        <label
                                class="control-label col-md-3 col-sm-3 col-xs-12"
                                for="discoveredEntityId"
                                style="margin-top: 7px;">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input
                                    id="discoveredEntityIdInput"
                                    class="form-control col-md-7 col-xs-12"
                                    [tooltip]="'At least 4 symbols'"
                                    placeholder="input the name of new entity"
                                    [(ngModel)]="selectedEntityName">
                        </div>
                    </div>
                </div>
                <div class="table-wrapper row">
                    <table class="table table-hover table-bordered" *ngIf="entityType == 'attribute'">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Attribute name</th>
                            <th>Already set</th>
                            <th>Read/write timeout</th>
                            <th>Parameters</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let attribute of discoveredEntities" class="clickableTr"
                            [class.activeTr]="((selectedEntity != undefined) && (selectedEntity.name == attribute.name))"
                            (click)="setActiveEntity(attribute)">
                            <th scope="row">{{attribute.name}}</th>
                            <td>
                                    <span class="discovery-set" *ngIf="isAttributeSet(attribute.name)">
                                          <span class="glyphicon glyphicon-ok glyph-icon-appended"
                                                aria-hidden="true"></span>
                                     </span>
                            </td>
                            <td>{{attribute.rwto}}</td>
                            <td [innerHTML]="formatParams(attribute)"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button
                        type="button"
                        (click)="cancelEntitySelection()"
                        [disabled]="selectedEntity == undefined"
                        class="btn btn-primary">
                    Cancel
                </button>
                <button
                        type="button"
                        style="float:right;"
                        [disabled]="((selectedEntity != undefined) && isAttributeSet(selectedEntity.name))"
                        (click)="addSelectedEntityToResource()"
                        class="btn btn-default">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities">

        <td>{{entity.name}}</td>
        <td>
            <div class="btn-group" role="group">
                <button
                        type="button"
                        (click)="setEntity(entity)"
                        class="btn btn-default btn-xs">
                    Edit
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="remove(entity)">Remove</button>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button
                    type="button"
                    data-toggle="modal"
                    (click)="addNewEntity()"
                    class="btn btn-default btn-xs">
                Add new
            </button>

            <button
                    *ngIf="isResourceType()"
                    type="button"
                    data-toggle="modal"
                    (click)="addEntityFromList()"
                    class="btn btn-default btn-xs">
                Add from the list
            </button>
        </td>
    </tr>
    </tbody>
</table>
