<!-- Modal for entity appending -->
<div class="modal fade" id="editEntity" tabindex="-1" role="dialog" aria-labelledby="editEntityLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title leftAlign" id="editEntityLabel">Edit {{activeEntity.getName()}} {{activeEntity.name}} for resource {{resourceName}}</h4>
            </div>
            <br/>
            <div class="modal-body">
              <div id="smartwizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                      <li>
                        <a [attr.href]="'#name'">
                          <span class="step_no">1</span>
                          <span class="step_descr">
                                                  Name<br />
                                                  <small>Name of {{activeEntity.getName()}}</small>
                                              </span>
                        </a>
                      </li>
                      <li>
                        <a [attr.href]="'#additional'">
                          <span class="step_no">2</span>
                          <span class="step_descr">
                                                  Additional<br />
                                                  <small>Additional {{activeEntity.getName()}}-related members</small>
                                              </span>
                        </a>
                      </li>
                      <li>
                        <a [attr.href]="'#parameters'">
                          <span class="step_no">3</span>
                          <span class="step_descr">
                                                  Parameters<br />
                                                  <small>Parameters for {{activeEntity.getName()}}</small>
                                              </span>
                        </a>
                      </li>
                      <li>
                        <a [attr.href]="'#save'">
                          <span class="step_no">4</span>
                          <span class="step_descr">
                                                  Save<br />
                                                  <small>Saving the {{activeEntity.getName()}}</small>
                                              </span>
                        </a>
                      </li>
                </ul>

                <div>
                  <div id="name" class="">
                    Step Content
                  </div>
                  <div id="additional" class="">
                    Step Content
                  </div>
                  <div id="parameters" class="">
                    Step Content
                  </div>
                  <div id="save" class="">
                    Step Content
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button
                        type="button"
                        class="btn btn-primary"
                        [disabled]="readyForSave == false"
                        (click)="saveEntity()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities">

        <td>{{entity.name}}</td>
        <td>
            <div class="btn-group" role="group">
                <button
                        type="button"
                        data-toggle="modal"
                        (click)="setEntity(entity)"
                        [attr.data-target]="'#editEntity'"
                        class="btn btn-default btn-xs">
                    Edit
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="remove(entity)">Remove</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
