<div class="row" style="padding: 20px 0">
    <div class="col-md-2">
        <div class="list-group">
            <a href="#"
               *ngFor="let gateway of gateways"
               class="list-group-item"
               [class.active]="gateway.name == activeGateway.name"
               (click)="setActiveGateway(gateway)">
            {{gateway.name}}</a>
        </div>
    </div>
    <div class="col-md-10">
        <!-- right area -->
        <div class="row" style="padding-left: 30px;">
            <!-- if we have binging - add next with col-md-5 -->
            <div class="col-md-6">
                <!-- combobox with type -->
                <div class="row">
                    <div class="col-md-3" >
                        <label class="control-label">Select type:</label>
                    </div>
                    <div class="col-md-9">
                        <select [(ngModel)]="activeGateway.type" class="form-control">
                            <option
                                    *ngFor="let gateway of availableGateways"
                                    [value]="gateway.type">
                                {{gateway.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top: 35px;">
                    <div class="col-md-3" >
                        <h5>Parameters:</h5>
                    </div>
                </div>
                <div class="row">
                    <parameters [entity]="activeGateway"></parameters>
                </div>

            </div>
            <!-- binding here -->
            <div class="col-md-6" style="padding: 50px 0 0 50px">
                <div class="row" style="text-align: left;">
                    <h5>Binding information:</h5>
                </div>
                <div class="panel-group group-accordeon" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Attributes
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <bindings [bindings]="activeGateway.attributes"></bindings>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Events
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Operations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>